#header
  #welcome
    - if @current_user
      #{'欢迎! '}
      -# This span gets updated on the fly if user changes her name.
      %span#welcome_username= @current_user.name
      %span> &nbsp;&nbsp;

      = link_to('快速查找', "#", :id => "jumper") << " |"
      = link_to('个人设置', profile_path) << " |"
      - if @current_user.admin?
        = link_to('系统管理', admin_path) << " |"
      = link_to('注销', logout_path, :method => :delete)
      = render :partial => "/layouts/jumpbox"
    - else
      = link_to('登录', login_path) << " |"
      = link_to(t(:sign_up), signup_path) << " |" if can_signup?
      = link_to('关于...', "#", :title => t(:about_ffc), :onclick => "Modalbox.show($('about'), { title: this.title }); return false;")
  %h3
    = link_to("Fat Free CRM", root_path)
